
.scroll-container {
border: .1rem solid black;
//   border-radius: 5px;
 white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
        height: min-content;
}

.scroll-text {
  /* animation properties */
  transform: translateX(100%);
  animation: my-animation 15s linear infinite;
  font-size: 1rem;

}

/* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateX(100%); }
  to { -moz-transform: translateX(-100%); }
}


@keyframes my-animation {
  from {

    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
