

.header{
    width: 100%;
    height: 7rem;
    padding-top: 1rem;
    padding-bottom: .5rem;
    background-color: #ff6314ff;
    display: flex;
    justify-content: center;
    // flex-direction: column;

        &__title{
        margin: auto 0;
        margin-left: -1rem;
        font-size: 3rem;
        font-family: monospace;
        }


        &__logo--reddit:hover{
            transform: scale(130%);
        }

        &__logo--about:hover{
             transform: scale(130%);

        }

        &__logo--comment:hover{
            transform: scale(130%);

        }

        &__nav{
            margin-top: .25rem;
            width: 100%;
            height: 3rem;
            // padding: .5rem 0;
            display: flex;
            justify-content: space-evenly;
            background-color: #5296dd;
            // border-top: .1rem solid #ffffff;
        }

}
