

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none;
    color: black;
}


.commentCard__container{

display: flex;
flex-direction: column;
width: 80%;
display: flex;
margin: 0 auto;


}

.comment__container{
     border: .1rem solid #ff6314;
     width: 100%;
     margin: .5rem 0;
     padding: .5rem;
     background-color: #d7d7d7;

         &--labels{
text-align: center;
margin: .25rem 0;
    }
}

.comment__element{
    &--title{
    border: .01rem solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
    padding: .5rem;
    background-color: white;

    }
     &--subreddit{
    border: .01rem solid black;
        display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    background-color: white;



    } &--author{
    border: .01rem solid black;
        display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    background-color: white;



    } &--votes{
    display: flex;
    height: 2rem;
    padding: .5rem 0;
    background-color: white;
    font-size: 1.5rem;
    justify-content: center;
    }

    &--icons{
        width: .5rem;
        height: .5rem;

        &-up{
        width: .25rem;

        }
    }

    &--up{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .25rem;



    }
     &--down{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .25rem;



    }

    &--comment{
    border: .01rem solid black;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    background-color: white;


    }

}
