*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none;
    color: black;
}

.commentCard__container{

display: flex;
flex-direction: column;
width: 40%;
display: flex;
margin: 0 auto;

}

.comment__container{
     border: .01rem solid black;
     width: 100%;
     margin: .5rem 0;
     padding: .5rem;

         &--labels{
text-align: center;
margin: .25rem 0;
    }
}

.comment__element{
    &--title{
    border: .01rem solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
    padding: .5rem;


    }
     &--subreddit{
    border: .01rem solid black;
        display: flex;
    justify-content: center;
    align-items: center;
        height: 2rem;


    } &--author{
    border: .01rem solid black;
        display: flex;
    justify-content: center;
    align-items: center;
        height: 2rem;


    } &--votes{
    border: .01rem solid black;
    display: flex;
    justify-content: space-around;
    height: 2rem;
    padding: .5rem 0;


    }
    &--up{
    border: .01rem solid black;
        display: flex;
    justify-content: center;
    align-items: center;
    // display: flex;
    }
     &--down{
    border: .01rem solid black;
        display: flex;
    justify-content: center;
    align-items: center;
    // display: flex;
    }

    &--comment{
    border: .01rem solid black;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;

    }

}
