

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.commentCard__container{

display: flex;
flex-direction: column;
width: 95%;
display: flex;
margin: 0 auto;
}

.comment__container{
     border: .1rem solid #ff6314;
     width: 100%;
     margin: .5rem 0;
     padding: .5rem;
     background-color: #d7d7d7;

     box-shadow: 1px 1px 0px #999,
                2px 2px 0px #999,
                3px 3px 0px #999,
                4px 4px 0px #999,
                5px 5px 0px #999,
                6px 6px 0px #999;

         &--labels{
text-align: center;
margin: .25rem 0;
    }
}

.comment__element{
    &--title{
    border: .01rem solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
    padding: .5rem;
    background-color: white;
    font-size: 1.25rem;
        text-align: center;



    }
     &--subreddit{
    border: .01rem solid black;
        display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    background-color: white;
    font-size: 1.25rem;
        text-align: center;





    } &--author{
    border: .01rem solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    background-color: white;
    font-size: 1.25rem;
        text-align: center;




    } &--votes{
    display: flex;
    height: 2rem;
    padding: .5rem 0;
    background-color: white;
    font-size: 1.5rem;
    justify-content: center;
    }

    &--icons{
        width: .5rem;
        height: .5rem;

        &-up{
        width: .25rem;

        }
    }

    &--up{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .25rem;



    }
     &--down{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .25rem;



    }

    &--comment{
    border: .01rem solid black;
    // height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    background-color: white;
    font-size: 1.5rem;
    line-height: 1.6;
    text-align: center;
    overflow:hidden;
    }
    @media(max-width: 400px){
     padding: 0;
    }

}

h6{
    @media(max-width: 400px){
     width: 20ch;
      font-size: 1rem;
    }

}
