*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none;
    color: black;
}

.commentCard__container{
    display: flex;
    border: .01rem solid black;
    width: 100%;


}

.comment__container{
     border: .01rem solid black;
     width: 100%;
     height: fit-content;
     width: fit-content;
     margin: .5rem 0;
     padding: .5rem;

}

.comment__element{
    &--title{
    border: .01rem solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    padding: 0 .5rem;


    }
     &--subreddit{
    border: .01rem solid black;
        display: flex;
    justify-content: center;
    align-items: center;
        height: 2rem;


    } &--author{
    border: .01rem solid black;
        display: flex;
    justify-content: center;
    align-items: center;
        height: 2rem;


    } &--votes{
    border: .01rem solid black;
    display: flex;
    justify-content: space-around;
    height: 2rem;

    }
    &--up{
    border: .01rem solid black;
        display: flex;
    justify-content: center;
    align-items: center;
    // display: flex;
    }
     &--down{
    border: .01rem solid black;
        display: flex;
    justify-content: center;
    align-items: center;
    // display: flex;
    }

    &--comment{
    border: .01rem solid black;
    height: 4rem;
        display: flex;
    justify-content: center;
    align-items: center;
     padding: 0 .5rem;

    }

}
